$text-color: black;
$secondary-text-color: white;
$primary-color: black;
$secondary-color: rgb(182, 182, 175);
$tertiary-color: white;
$quaternary-color: gainsboro;
$accent-color: yellow;
$font-family:  redhat;
